# Application Configuration
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1
NEXT_PUBLIC_APP_ENV=development

# Authentication
# NEXT_PUBLIC_AUTH_DOMAIN=
# NEXT_PUBLIC_AUTH_CLIENT_ID=

# Analytics & Monitoring
# NEXT_PUBLIC_SENTRY_DSN=
# NEXT_PUBLIC_POSTHOG_KEY=
